<mat-toolbar color="warn">
    <button mat-icon-button class="d-block" (click)="drawer.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>{{title}}</span>
</mat-toolbar>
<mat-drawer-container [hasBackdrop]="'true'">
    <mat-drawer #drawer>
        <div class="row m-2">
            <div class="col-12 m-1">
                <span>Class</span>
            </div>
            <div class="col-12 m-1">
                <mat-select [(value)]="cls">
                    <mat-option *ngFor="let cl of classes" [value]="cl">{{cl.name}}</mat-option>
                </mat-select>
            </div>
        </div>
        <div class="row m-2"  *ngIf="cls">
            <div class="col-12 m-1">
                <mat-label>Subject</mat-label>
            </div>
            <div class="col-12 m-1">
                <mat-select [(value)]="sub">
                    <mat-option *ngFor="let su of cls.subs" [disabled]="su.bks.length==0" [value]="su">{{su.name}}
                    </mat-option>
                </mat-select>
            </div>
        </div>
        <div class="row m-2"  *ngIf="sub">
            <div class="col-12 m-1">
                <mat-label>Book</mat-label>
            </div>
            <div class="col-12 m-1">
                <mat-select [(value)]="bk" (selectionChange)="bookChanged()">
                    <mat-option *ngFor="let b of sub.bks" [value]="b">{{b.name}}</mat-option>
                </mat-select>
            </div>
        </div>
    </mat-drawer>
    <mat-drawer-content class="router-outlet">
        <div *ngIf="bk">
            <div class="row m-2" style="font-size: 20px;">
                <div *ngIf="cls" class="col-xs-6 col-4 text-center">
                    {{cls.name}}
                </div>
                <div *ngIf="sub" class="col-xs-6 col-4 text-center">
                    {{sub.name}}
                </div>
                <div *ngIf="bk" class="col-xs-6 col-4 text-center">
                    {{bk.name}}
                </div>
            </div>

            <div class="row">
                <div  *ngFor="let c of bk.cntnts;index as i" class="col-6 col-sm-4 col-md-3 p-2">
                    <app-card>
                        <div class="w-100 text-center pointer" (click)="open(c,i)">
                            {{"Chapter "+(i+1)}}
                            <span *ngIf="ch==i" class="material-icons active-pin">
                                push_pin
                            </span>
                        </div>
                    </app-card>
                </div>
            </div>
        </div>
    </mat-drawer-content>
</mat-drawer-container>

